<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <input id="chkData" type="hidden" value="<%=checkData%>" />
  <input type="hidden" name="dataSet" value="<%= dataArr%>" />

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%include Sidebar%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Notice -->
        <%include NoData %>
        <!-- End of Notice -->


        <!-- Topbar -->
        <%include Topbar%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="javascript:partShot()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Share Image</a>
          </div>


          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content Row -->
          <div class="row">

            <%
            let arrNumber = orderCard;
            let arrColor = ['4e73df', '1cc88a', '36b9cc', 'f6c23e'];
            let myString = ["lieTimeService",
"getSleepTimeService",
"wakeUpTimeService",
"remSleepService",
"stage12SleepService",
"stage34SleepService",
"totalSleepTimeService",
"sleepEffciencyService",
"dailySleepTimeService"];
let myStringKor = ["누운 시간",
"수면까지 걸린 시간",
"기상 시간",
"잡파 발생 횟수",
"얕은 수면 시간",
"깊은 수면 시간",
"총 수면 시간",
"수면 효율",
"일일 수면 시간"];

            for(let i = 0 ; i<arrNumber.length ; i++){
            %>


            <div class="col-lg-3 mb-4" onclick="cardClick(<%= arrNumber[i]%>)">
              <input type="hidden" name="arr" value="<%= arrNumber[i]%>">
              <div class="card  text-white shadow" style=" background-color: #<%= arrColor[arrNumber[i]%4] %>">
                <div class="card-body">
                  <%= myString[arrNumber[i]]%>
                  <div class="text-white-50 small"> <%= myStringKor[arrNumber[i]]%> </div>
                </div>
              </div>
            </div>

            <%
            }
            %>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%include footer.html%>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Logout Modal-->
  <%include logoutConfirm%>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <!-- <script src="js/demo/chart-pie-demo.js"></script> -->


  <script src="js/contsrch.js"></script> <!-- 제이쿼리를 이용한 ctrl + F(검색) 출처 : http://blog.nachal.com/775 -->
  <script src="js/chinsung_core.js"></script> <!-- 제이쿼리를 이용한 ctrl + F(검색) 출처 : http://blog.nachal.com/775 -->




  <!-- 그래프 스크린샷 -->
  <script src="js/html2canvas.min.js"></script>
  <script>
    function partShot() { //특정부분 스크린샷
      var sel = "#content > div.container-fluid > div:nth-child(2) > div > div > div.card-body "
      html2canvas($(sel)[0]) //id container 부분만 스크린샷
        .then(function (canvas) { //jpg 결과값
          // drawImg(canvas.toDataURL('image/jpeg')); //이미지 저장
          var filename = $("#content > div.container-fluid > div:nth-child(2) > div > div > div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between > h6")[0].innerHTML
          saveAs(canvas.toDataURL(), 'lucid-'+filename+'.jpg');
        }).catch(function (err) { console.log(err); });
    }

    function drawImg(imgData) {
      console.log(imgData);
      //imgData의 결과값을 console 로그롤 보실 수 있습니다.
      return new Promise(function reslove() {
        //내가 결과 값을 그릴 canvas 부분 설정
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        //canvas의 뿌려진 부분 초기화
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        var imageObj = new Image(); imageObj.onload = function () {
          ctx.drawImage(imageObj, 10, 10);
          //canvas img를 그리겠다.
        }; imageObj.src = imgData; //그릴 image데이터를 넣어준다.
      }, function reject() { });
    }

    function saveAs(uri, filename) { var link = document.createElement('a'); if (typeof link.download === 'string') { link.href = uri; link.download = filename; document.body.appendChild(link); link.click(); document.body.removeChild(link); } else { window.open(uri); } }
  </script>
  <!-- End of 그래프 스크린샷 -->

</body>

</html>
