<!-- 슬라이드 내용 페이지 마다 활성 상태 바꿔줘야함 -->
<%

// 메인, 프로필수정1,2 화면세팅3
var navActive = ["", "", "", "",""];
%>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="z-index: 2;">

    <a style="text-align-last: right;" class="dropdown-item" href="/web/user/logout" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    </a>
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/web/main/index">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3"><%= userName%></div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <%

    switch(title){
      case 'Main':
          navActive[0]="active"          
          break;
      case 'password_change':
      case 'Profile_edit':
      case 'registerEOG':
          navActive[1]="active" 
          navActive[2]="show"     
          navActive[3]="active"      
          break;
      case 'Setting':
          navActive[1]="active" 
          navActive[2]="show"   
          navActive[4]="active"    
          break;
    }
    console.log(title+" \""+navActive);

    %>

    <li class="nav-item <%=navActive[0]%>">
      <a class="nav-link" href="/web/main/index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item <%=navActive[1]%>" >
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Setting</span>
      </a>
      <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!-- <h6 class="collapse-header">Custom Components:</h6> -->
          <a class="collapse-item <%=navActive[3]%>" href="/web/profile/index">프로필 수정</a>
          <a class="collapse-item <%=navActive[4]%>" href="/web/setting/index">화면 설정</a>
        </div>
      </div>
    </li>
    
    <hr class="sidebar-divider">
    <li class="nav-item" >
      <a class="nav-link" href="/web/about/index">
        <i class="fas fa-fw fa-info"></i>
        <span>About</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item" >
      <a class="nav-link" href="/web/about/tool">
        <i class="fas fa-fw fa-flag"></i>
        <span>Tool</span></a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
