<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/chinsung_profile_edit.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


    <!-- Sidebar -->
    <%include Sidebar%>
    <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                      <!-- Topbar -->
                      <%include Topbar%>
                      <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">프로필 수정</h1>


                    <div class="p-5">
                        <div class="text-center">
                        </div>


                        <form name="userprofile" class="user" method="POST" action="/web/profile/index">
                        	<div class="form-group row">
                        		<input type="text" name="userId" class="form-control form-control-user" id="exampleFirstName"
                        			value="<%= userId %>" placeholder="ID" disabled>
                        	</div>
                        	<div class="form-group row">
                        		<input type="text" value="<%= userName %>" maxlength="20" name="userName" class="form-control form-control-user" placeholder="Name">
                        	</div>
                        	<div class="form-group row">
                        		<input type="email" name="userEmail" maxlength="40" class="form-control form-control-user" id="exampleInputEmail"
                        			placeholder="Email Address" value="<%= userEmail %>">
                        		<div class="form-group">
                        			<div class="custom-control custom-checkbox small">


                                        <%
                                        var tempdate = userBirth



                        				if(userEmailStatus == 1){
                        					%>

                        					<input type="checkbox" class="custom-control-input" id="customCheck" checked>
                        					<label class="custom-control-label" for="customCheck">이메일 수신 동의</label>
                        					<input type="hidden" name="userEmailStatus" id="myField2" value="1">

                        				<%
                        				}
                        				else{

                        				%>

                        				<input type="checkbox" class="custom-control-input" id="customCheck">
                        				<label class="custom-control-label" for="customCheck">이메일 수신 동의</label>
                        				<input type="hidden" name="userEmailStatus" id="myField2" value="0">
                        				<%
                        				}
                        				%>

                        			</div>
                        		</div>
                        	</div>
                        	<div class="form-group row">
                        		<input type="date" name="userBirth" class="form-control form-control-user" id="exampleInputEmail"
                        			placeholder="Age" value="<%= tempdate %>">
                        	</div>
                        	<div class="form-group row">

                        		<%
                        if(userSex==0){

                        %>
                        <label class="switch ">
                        <input type="checkbox" checked>
                        <span class="slider blue">M</span>
                        <input name="userSex" type="hidden" id="myField" value="0">
                        </label>

                        		<%
                        }
                        else{

                        %>
                        <label class="switch">
                        <input id="customCheck" type="checkbox">
                        <span class="slider">W</span>
                        <input name="userSex" type="hidden" id="myField" value="1">
                        </label>

                        		<%
                        }
                        %>

                        	</div>
                        	<div class="form-group row">
                        		<a href="/web/profile/change">
                        			<input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        				placeholder="비밀번호 : ****&#9;" disabled><i
                        				class="fas fa-chevron-right"></i>
                        		</a>
                        	</div>
                        	<div class="form-group row">
                        		<a href="/web/profile/register">
                              <%
                                var str = "뇌파가 등록되어 있지 않습니다. 등록하러가기"
                                if(checkData!=0){
                                  str="뇌파 등록 완료!"
                                }
                              %>
                        			<input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        				placeholder="<%=str%>" disabled><i
                        				class="fas fa-chevron-right"></i>
                        		</a>
                        	</div>
                        	<div class="form-group row">
                        		<div class="dataTables_length" id="dataTable_length"><label>지역/시간 <select
                        					name="userArea" aria-controls="dataTable"
                        					class="custom-select custom-select-sm form-control form-control-sm">
                        					<%
                        					if(userArea==1){
                        						%>

                        					<option value="1" selected>SEL(서울) GMT+9</option>
                        					<option value="2">GMT/LON(런던) GMT+0</option>
                        						<%
                        					}
                        					else{
                        						%>
                        						<option value="1">SEL(서울) GMT+9</option>
                        						<option value="2" selected>GMT/LON(런던) GMT+0</option>
                        						<%
                        					}
                        					%>
                        				</select> </label></div>

                                <a href="javascript:submitCustom();" class="btn btn-primary btn-user btn-block">
                          			수정 완료!
                                  </a>
                                  <script>
                                  function submitCustom(){
                                    isChange = false;
                                    javascript:userprofile.submit();
                                  }
                                  </script>
                        	</div>
                        </form>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


      <!-- Footer -->
      <%include footer.html%>
      <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%include logoutConfirm%>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/chinsung_profile_edit.js"></script>


    <script src="/js/contsrch.js"></script> <!-- 제이쿼리를 이용한 ctrl + F(검색) 출처 : http://blog.nachal.com/775 -->
    <script src="/js/chinsung_core.js"></script> <!-- 제이쿼리를 이용한 ctrl + F(검색) 출처 : http://blog.nachal.com/775 -->

    <script type="text/javascript">
    isChange = false;

        // input, select에 change event가 일어날 경우
        $("input, select").change(function () {
            console.log("hi")
            isChange = true;
        });
    //출처: https://seongilman.tistory.com/214 [SEONG]

        $(function () {
            $(window).on('beforeunload', function () {
                if(isChange){
                    return "이 페이지를 벗어나면 데이터가 초기화 됩니다.";

                }
            });
        });
    </script>

</body>

</html>
